* {
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior:smooth;
    font-size: sans-serif;
    

}


html {
    font-size: 62.5%;
    color: var(--text-color);
}

body {
    color: #fff;
    background: #02233b;
}
section 
{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/* header section cod */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    border-radius: 3rem;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
}

.logo {
    font-size: 3rem;
    color:rgb(11, 213, 228);
    font-weight:700;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover 
{
    transform: scale(1.05);
}
/* .navbar a { 
    font-size: 1.9rem;
    color: var(--bg-color);
    margin-left: 4rem;
    font-weight: 700;
    transition: 0.3s ease;
}*/
.header .navbar {
    display: flex;
    
}

.header .navbar a {
    position: relative;
    font-size: 1.9rem;
    color: white;
    margin: 0 20px;
    
    text-decoration: none;
    font-weight: 700;
    transition: 0.3s linear;
}

.header .navbar a::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #0ef;
    transition: 0.2s linear;
}

.header .navbar a:hover::before {
    width: 100%;
}

.header .navbar a:hover {
    color: #0ef;
}
#menu-icon {
    font-size: 3.6rem;
    color: white;
    cursor: pointer;
    display:none;
}

/* Home Section Code  */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 450px;
    height: 500px;
    border-radius: 50%;
    box-shadow: 0 0 25px #0fe;
    cursor: pointer;
    animation: floatImage 4s ease-in-out infinite;
    transition: 0.4s ease;
   
 }
.home-img img :hover
 {
   box-shadow: 0 0 25px #0fe,
               0 0 35px #0fe,
               0 0 45px #0fe;
 } 
 @keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.home-content {
    margin-left: 5rem;
}
    
.home-content h3 {
    font-size: 3.7rem;
    font-weight: 700;
    
}
.home-content h3:nth-of-type(2) 
{
    margin-bottom: 2rem;
}
span {
    color: #0ef;
}
.home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    color: #00ffee;
}
.home-content p {
    font-size: 30px;
}
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid #00ffee;
    border-radius: 50%;
    color: #00ffee;
    margin: 3rem 1.5rem 3rem 0;
    font-size: 1.5rem;
    transition: 0.2s linear;
}
.social-media a:hover {
    transform: scale(1.2) translateY(-10px);
    filter: drop-shadow(0 0 10px #00ffee);
    color: black;
    background-color: #00ffee;
}
.btn {
   display: inline-block;
   padding: 1rem 2.8rem;
   background: #00ffee8d;
   border-radius: 4rem;
   box-shadow: none;
   font-size: 1.6rem;
   color: white;
   letter-spacing: 0.1rem;
   font-weight: 600;
   transition: 0.3s ease;
   border: none;
   outline: none;
}
.btn:hover {
    scale: 1.1;
    color: #09aca1eb;
    border: 2px solid;
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 1.6rem;
}


/* about-section */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--snd-bg-color);
}
.about-img img {
    width: 25vw;
    border-radius: 50%;
    border: 2px solid #1498d5;
    box-shadow: 0 0 25px #09b0d5;
    cursor: pointer;
    transition: 0.4s ease;
}
.about-img img:hover {
    box-shadow: 0 0 25px #0fe,
                0 0 35px #0fe,
                0 0 45px #0fe;
}

.heading {
    font-size: 6rem;
    text-align: center;
    
}
.about-content {
    padding: 0.4rem;
}
.about-content h2 {
    text-align: left;
    line-height: 1.2;
}
.about-content h3 {
    font-size: 3rem;
    
}
.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    font-size: 30px;
}

/* My Service  */

.services h2 {
    margin-bottom: 5rem;
}
.services-container {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    gap: 2rem;
}
.services-container .services-box {
    flex: 1 1 30rem;
    background: rgba(0, 0, 0, 0.716);
    padding: 6rem 2rem 6rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.3rem solid rgb(0, 62, 128);
    transition: 0.3s ease;
}
.services-container .services-box:hover {
     border-color:white;
     transform: scale(1.02);
}
.services-box i {
    font-size: 7rem;
    color: rgb(222, 220, 217);
}
.services-box h3 {
    font-size: 2.6rem;
}
.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

/* my skill */

.sub-title {
    text-align: center;
    font-size: 70px;
    
}
.sub-title span {
    color: #0ef;
}
section .skills {
    display: flex;
    flex-wrap: wrap;
}
.container1 {
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}
.headingtwo {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
    font-size: 30px;
}
.bar {
    font-size: 25px;
}
.Technical-bars .bar {
    margin: 25px 0;
}
.Technical-bar .bar:first-child {
    margin-bottom: 0;
}
.Technical-bar .bar:last-child {
    margin-bottom:100px;
}
.Technical-bars .bar .indfo {
    margin-bottom: 5px;
}
.Technical-bars .bar .indfo span {
    font-size: 17px;
    font-weight: 500;
    animation: showtext 0.5s 1s linear forwards;
    
    
}
.Technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000;
    animation: animate 1s cubic-bezier(1,0,0,5,1) forwards;
    
    transform-origin: left;
   
}
@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}
.Technical-bars .bar .progress-line span {
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0,5,1) forwards;
    
    transform-origin: left;
}
.progress-line.html span {
    width: 95%;
}
.progress-line.css span {
    width: 80%;
}
.progress-line.javascript span {
    width: 10%;
}
.progress-line.java span {
    width: 10%;
}
.progress-line.python span {
    width: 20%;
}

.progress-line span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showtext 0.5s 1.5s linear forwards;
    opacity: 0;
}


.progress-line.html span::after {
    content: "95%";
}
.progress-line.css span::after {
    content: "80%";
}
.progress-line.javascript span::after {
    content: "10%";
}
.progress-line.java span::after {
    content: "10%";
}
.progress-line.python span::after {
    content: "20%";
}
.progress-line span::before {
    content:'';
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width:0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showtext 0.5s 1.5s linear forwards;
    opacity: 0;
}
@keyframes showText {
    100% {
        opacity: 1;
    }
}

/* contact me  */

.contact h2
{
margin-bottom: 3rem;
color: white;
gap: 10px;
}
.contact form {
    max-width: 80rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: white;
    background: rgb(0, 6, 8);
    border-radius: 0.8rem;
    border: 0.30rem solid rgb(7, 76, 188);
    margin: 0.7rem 0;
    resize: none;
}
.contact form .input-box input {
    width: 49%;
    margin: 0.7rem 0.35rem;
}
.contact form .btn{
  margin-top: 2rem;
}

/* footer  */

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: rgb(7, 76, 188);
    text-align: center;
}
.footer .social a {
    font-size: 25px;
    color: #0ef;
    border: 2px solid #00ffee;
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease;
}

.footer .social a:hover {
    transform: scale(1.2) translateY(-10px);
    filter: drop-shadow(0 0 10px #00ffee);
    color: black;
    background-color: #00ffee;
}
.footer .copyright {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
}

/* Responsive websit  */

@media (max-width:1200px) {
    html {
        font-size: 55%;
    }
}
@media (max-width:991px) {
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3%;
    }
    .service {
        padding: 7rem;
    }
    .contact form .input-box input {
        width: 100%;
    }
    .footer {
        padding: 2rem 3%;
    }
}
@media (max-width:991px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 255px;
        min-height: 100vh;
         display: flex;
         flex-direction: column;
         background: #0fe;
         transition: all 0.5s ease;
         backdrop-filter: blur(10px);
    }
    .navbar a {
        display: block;
        padding: 17px;
        font-size: 22px;
    }
    .navbar .active { 
        right: 0;
    }
    .home {
        flex-direction: column;
    }
    .home-content h3 {
        font-size: 2.6rem;
    }
    .home-content h1 {
        font-size: 5rem;
    }
    .home-content {
        order: 2;
        margin-left: 1rem;
    }
    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }
    .about {
        flex-direction: column-reverse;
    }
    .about-img img {
        width: 70vw;
        margin-top: 4rem;
    }
    .service h2 {
        margin-bottom:3rem;
    }
}

@media (max-width:617px) {
    .home-img img {
        width: 70vw;
        margin-top: 8rem;
    }
    .about-img img {
        width: 70rem;
        margin-top: 4rem
    }
}
@media (max-width:617px) {
    html {
        font-size: 50%;
    }
}